.footerContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoImage {
    width: 150px;
    height: 100px;
}

.logoText {
    font-size: 24px;
    font-weight: 400;
}

.products {
    flex: 1;
}

.contact {
    flex: 1;
}

.footerTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
    .footerContainer {
        border-top: 2px solid lightgray;
        flex-direction: column;
    }
}